@import  url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

:root {
   --color-primary: #20B2AA;
}

* {
     box-sizing: border-box;
     font-family: 'open Sans' sans-serif;
}

html ,  body {
     background-color: #e8e8e8;
}

a ,  a :hover {
   text-decoration : none;
  color: unset;
}